/* Minimal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
}


.main-row {
  display: flex;
  align-items: center;
   justify-content: space-between;
  gap: 2rem;
}



.logo {
  font-size: 1.9rem;
  font-weight:600;
  font-style: italic;
  margin-bottom: 5rem;
}


h1 {
    font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  
}



p {
  margin-bottom: 1.5rem;
  max-width: 500px;
}


.main-btns {

  display: flex;
  gap: 1rem;

 

}

a {

  border-radius: 0.4rem;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  border: 1px solid #000;
  color: white;
  background: black;
  transition: 0.1s ease;

}

a:hover {
  opacity: 0.8;
}


.image-card img {
  max-width:380px;
  width: 100%;
  

  border-radius: 30px;
box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}




.info-section {
  display: flex;
  gap: 1rem;
  margin-top: 6rem;
  
}

.card1 {
  flex: 1;
  border: 1px solid;
  padding: 1rem;
  box-shadow: 2.0px 2.0px 4.0px hsl(0deg 0% 0% / 0.28);
}



@media (max-width: 768px) {
  .main-row {
    flex-direction: column;
    text-align: center;
  }


  .main-btns {
    justify-content: center;
  }
}
