* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  max-width: 800px;

  margin: 1rem auto;
  padding: 1.5rem;
}

h1 {
  font-weight: 500;
  font-size: 2rem;

}

input {
  
  border: 1px solid #000;
  margin-bottom: 0.6rem;
  font-size: 1rem;
  padding: 0.3rem;
}

table {
  width: 90%;
  margin-top: 1.5rem;
  border-collapse: collapse;
  font-size: 1rem;
}

th, td {
  border: 1px solid #000;
  padding: 0.6rem;
}

input[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}


